- all_reservations.each do |date, reservations|
  .panel.panel-primary
    .panel-heading.reservations
      %h3.panel-title= display_date(date, reservations)
    %table.table.table-striped.reservations
      %thead
        %tr
          %th= t('.hour')
          %th= t('.name')
          %th= t('.phone')
          %th= t('.table')
          %th= t('.people')
          %th= t('.picked_up')
          %th= t('.manage')
      %tbody
        - reservations.each do |reservation|
          - next if reservation.table.nil? && current
          %tr{ class: "#{'cancelled' if reservation.deleted?}" }
            %td
              = reservation.hour
              %span{ style: 'font-style: italic; color: red'}= '!' unless reservation.approved?
            %td= reservation.client_name
            %td= reservation.client_phone
            %td= reservation.table ? reservation.table.number : Table.with_deleted.find(reservation.table_id).number
            %td= reservation.people
            %td= reservation.picked_up? ? glyph('', 'ok') : glyph('', 'remove')
            %td
              - if can?(:manage, reservation) && reservation.deleted?
                = link_to glyph('', 'list-alt'), '#', class: 'show-note', title: reservation.cancel_reason
              - if can?(:update, reservation) && !reservation.approved? && !reservation.deleted? && current
                = link_to glyph('', 'ok'), reservation_path(reservation.id, reservation: { approved: true }), method: :put, title: t('.approve'), data: { no_turbolink: true }
              - if can?(:update, reservation) && !reservation.picked_up? && reservation.approved? && !reservation.deleted? && current
                = link_to glyph('', 'thumbs-up'), reservation_path(reservation.id, reservation: { picked_up: true }), method: :put, title: t('.marked_as_pick'), data: { no_turbolink: true }
              - if can?(:edit, reservation) && !reservation.deleted? && current
                = link_to glyph('', 'pencil'), edit_reservation_path(reservation.id), title: t('.edit')
              - if can?(:destroy, reservation) && !reservation.deleted? && current
                = link_to glyph('', 'remove'), note_reservation_path(reservation.id), title: t('.cancel')
