#container
  - if request.get?
    .row
      .col-xs-12
        %h1 Sprawdź swoją rezerwację
    .row
      .col-xs-12.form
        = form_tag(reservations_check_path, method: :post) do
          .form-group.col-xs-12
            .input-group
              .input-group-addon= label_tag 'client_name', 'Imię i nazwisko'
              = text_field_tag 'client_name', '', autofocus: true, class: 'form-control'
          .form-group.col-xs-12
            .input-group
              .input-group-addon= label_tag 'client_phone', 'Numer telefonu'
              = text_field_tag 'client_phone', '', class: 'form-control'
          .form-group.col-xs-12
            = submit_tag 'Szukaj', class: 'btn btn-success btn-block'
  - else
    - if @r.any?
      %h1= @r.many? ? 'Twoje rezerwacje' : 'Twoja rezerwacja'
      - @r.each do |r|
        .row
          .col-xs-12
            %p= "Rezerwacja na nazwisko #{r.client_name}."
            %p= "Stolik nr #{r.table_id}, data: #{r.date}, godzina: #{r.hour}"
            - if r.approved?
              %p{ style: 'color: green; font-weight: bold'} POTWIERDZONA
            - else
              %p{ style: 'color: red; font-weight: bold'} NIEPOTWIERDZONA
    - else
      %h1= "Nie znaleziono rezerwacji na nazwisko #{params[:client_name]}"
