#container
  .panel.panel-primary
    .panel-heading
      .panel-title= t('.manage')
    %table.table.table-striped
      %thead
        %tr
          %th= t('.number')
          %th= t('.seats')
          %th= t('all.manage')
      %tbody
        - @tables.each do |table|
          %tr
            %td= table.number
            %td.hidden.input-seats= number_field_tag "seats_#{table.id}", table.seats
            %td
              = table.seats
              %span.pull-right.msg= ''
            %td
              = link_to glyph('', 'pencil'), '#', class: 'edit-table', title: t('all.edit')
              = link_to glyph('', 'ok'), '#', class: 'save-table hidden', title: t('all.save')
              = link_to glyph('', 'remove'), table_path(table.id), class: 'remove-table', method: :delete, title: t('all.remove'), data: { confirm: t('all.sure') }

%h2= t('.add_new')

= form_for @table do |f|
  - if f.object.errors.any?
    - f.object.errors.full_messages.each do |msg|
      .alert.alert-danger.col-xs-12= msg
  .form-group.col-xs-4
    .input-group
      .input-group-addon= f.label :number, t('.number')
      = f.number_field :number, min: 1, class: 'form-control'
  .form-group.col-xs-4
    .input-group
      .input-group-addon= f.label :seats, t('.seats')
      = f.number_field :seats, min: 1, class: 'form-control'
  .form-group.col-xs-4
    = f.submit t('.submit'), class: 'btn btn-success btn-block'
